::selection {
  color: #EFEFEF;
  background: #0A1931;
}

/* ---Box model fix--- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* ---Global style--- */

body {
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  font-family: "Thasadith", sans-serif;
}

a {
  color: #0F044C;
  font-style: italic;
  text-decoration: none;
}

a:hover {
  background-color: whitesmoke;
  text-decoration: underline;
}

h1, h2 {
  text-align: center;
  font-family: "Texturina", serif;
  margin: 0;
}

h1 {
  font-size: 59px;
}

h2 {
  font-size: 37px;
}

p {
  text-align: justify;
}

.content-wrap {
  width: 67%;
  margin: 0 auto;
  padding: 35px 0;
}

/* ---Profile--- */

/* ---Projects--- */
.projects {
  background-color: #c7eae4;
}

.projects a {
  color: #ffa200;
}

.projects a:hover {
  background-color: transparent;
}

.projects .btn {
  color: white;
  background-color: #ff8939;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background-color: #ffb739;
  text-decoration: none;
}

.project-item {
  overflow: hidden;
  border-bottom: 1px dashed black;
  padding: 25px 0;
}

.project-item img {
  float: left;
  margin-right: 30px;
}

.project-item h3 {
  margin-top: 0;
}

/* Known isues: Projent context flow underneath the image. */

/* ---Experience--- */
.work-experience {
  background-color: #a7e8bd;
}

/* ---Education--- */
.education {
  background-color: #fcbcb8;
}

/* ---Contact--- */
