/* CSS HEX
--light-cyan: #c7eae4;
--celadon: #a7e8bd;
--spanish-pink: #fcbcb8;
--pastel-pink: #efa7a7;
--orange-yellow-crayola: #ffd972;

*/

body {
  background-color: #eeeeee;
}

a {
  color: #0F044C;
}

a:hover {
  text-decoration: none;
}

/* ---Profile--- */

/* ---Projects--- */
.projects {
  background-color: #c7eae4;
}

.projects a {
  color: #FFA200;
}

.projects .btn {
  color: white;
    background-color: #FF8939;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
}

.projects .btn:hover {
    background-color: #FFB739;
}

/* ---Experience--- */
.work-experience {
  background-color: #a7e8bd;
}

/* ---Education--- */
.education {
  background-color: #fcbcb8;
}

/* ---Contact--- */